
__pycache__/

Grids/

SHCoefficientsRaw_TPW_CFR_TOPO\.npz

*.html

CSne30_2_RLL1deg\.g

CSne30_2_RLL1deg_np4_TPW_CFR_TPO\.nc

testdata_outRLL1deg_TPW_CFR_TPO\.nc

testdata_outICO64_TPW_CFR_TPO\.nc

testdata_outCSne30_2_ICO64_TPW\.nc

CSne30_2_ICO64_np4_TPW_CFR_TPO\.nc

testdata_outCSne30_2_ICO64_CFR\.nc

testdata_outCSne30_2_ICO64_TPO\.nc

testdata_outCSne30_2_RLL1deg_CFR\.nc

testdata_outCSne30_2_RLL1deg_TPO\.nc

testdata_outCSne30_2_RLL1deg_TPW\.nc

testdata_ne30np4_pentagons_TPW\.nc

testdata_ne30np4_pentagons_TPW_CFR_TPO\.nc

testdata_outCSne30_TPW\.nc

testdata_ne30np4_latlon_TPW_CFR_TPO\.nc

testdata_ne120np4_latlon_TPW_CFR_TPO\.nc

testdata_outCSne30_CFR\.nc

testdata_outRLL1deg_CFR\.nc

testdata_outRLL1deg_TPW\.nc

\.runMetrics_CSne30_2_RLL1deg_TPW_CFR_TP\.sh\.swp

meshes/CSne30_2_RLL1deg\.nc

meshes/CSne30_2_RLL1deg_np4\.nc

meshes/RLL1deg_2_CSne30\.g

meshes/RLL1deg_2_CSne30_np4\.nc

testdata_outCSne30_2_RLL1deg_np4_3\.nc

testdata_RLL1deg_2_outCSne30_np4_3\.nc
